<li class="<%= Check_StatusTask %>">
    <div>
        <a href="<%= validateCheck %>" class="<%= Check_StatusTask %>">
            <%= taskName %>
        </a>
        <span> Criado em <%= date %></span>
    </div>

    <div id="botoesTask">
        <a id="buttonEdit" href="<%= updateRoute %>"><i
                class="bi bi-pencil-square"></i></a>
        <a id="buttonDelete" href="<%= deleteRoute %>"><i
                class="bi bi-trash3-fill"></i></a>
    </div>
</li>
<!--
    classe da li (line 1)
    href e classe da task (line 3)
    task (line 4)
    

-->