<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/ios/50/book--v1.png">
</head>

<body>
    <% if(message !="" ) { %>
        <%- include('./components/message', {
                nomeClass: `message message-${typeMessage}`,
                messageSend: message
        }) %>
    <% } %>


            <header>

                    <%- include('./components/forms', {
                            nomeForm: "To Do List" ,
                            action: "/create" ,
                            value: "" ,
                            idBtn: "addButton" ,
                            nomeBtn: "Adicionar" }) %>

                <% if(taskToUpdate!=null) { %>
                    <%- include('./components/modalDelAndUpd.ejs', {
                        title: 'Editar Tarefa',
                        message: 'Nome da Tarefa',
                        forDel: false
                    }) %>
                    

                <% } %>

            </header>
            <section id="tasks">
                <ul>
                    <% tasksList.forEach((task)=> { %>

                        <%- include('./components/eachTask.ejs', {
                            Check_StatusTask: `check-${task.check}`,
                            validateCheck: `/taskCheck/${task._id}`,
                            taskName: task.task,
                            date: task.date.toLocaleDateString('pt-br'),
                            updateRoute: `/getById/${task._id}/update`,
                            deleteRoute: `/getById/${task._id}/delete`


                        }) %>

                    <% }) %>
                </ul>
            </section>

            <% if(taskDelete !=null) { %>
                <%- include('./components/modalDelAndUpd.ejs', {
                    title: 'Confirmação',
                    message: `Deseja realmente excluir a tarefa: ${taskDelete.task} ?`,
                    forDel: true
                    
                }) %>
                
                    <% } %>



                        <script src="script.js"></script>
</body>

</html>