<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/ios/50/book--v1.png">
</head>

<body>
    <% if(message !="" ) { %>
        <%- include('./components/message', {
                nomeClass: `message message-${typeMessage}`,
                messageSend: message
        }) %>
    <% } %>


            <header>

                    <%- include('./components/forms', {
                            nomeForm: "To Do List" ,
                            action: "/create" ,
                            value: "" ,
                            idBtn: "addButton" ,
                            nomeBtn: "Adicionar" }) %>

                <% if(taskToUpdate!=null) { %>

                    <section class="modal">
                        <div class="card">
                            <div id="head">
                                <h2>Editar Tarefa</h2>
                                <a id="close" href="/"><i class="bi bi-x-octagon"></i></a>
                            </div>
                            <hr>
                            <p>
                                Nome da Tarefa:
                            </p>
                            <form id="formEdit" action="/updateOne/<%= taskToUpdate._id %>" method="post">
                                <input type="text" name="task" id="taskId" value="<%= taskToUpdate.task %>" placeholder="Digite o novo nome da tarefa">
                                <button type="submit">Confirmar</button>
                    
                            </form>
                            
                        </div>
                    </section>

                <% } %>

            </header>
            <section id="tasks">
                <ul>
                    <% tasksList.forEach((task)=> { %>

                        <%- include('./components/eachTask.ejs', {
                            Check_StatusTask: `check-${task.check}`,
                            validateCheck: `/taskCheck/${task._id}`,
                            taskName: task.task,
                            date: task.date.toLocaleDateString('pt-br'),
                            updateRoute: `/getById/${task._id}/update`,
                            deleteRoute: `/getById/${task._id}/delete`


                        }) %>

                    <% }) %>
                </ul>
            </section>

            <% if(taskDelete !=null) { %>
                <%- include('./components/modalDel.ejs') %>
                    <% } %>



                        <script src="script.js"></script>
</body>

</html>